html {
	padding: 5em;
	background-color: #eee;
	font-family: "EB Garamond",  "LinuxLibertineORegular", "AseaRegular", "Times", serif; 
	line-height: 1.5em;
	color: #222;
	font-size: 16pt;

}


/* Links are `a` elements in HTML */
a {
	text-decoration: none;
	color: navy	;
}

/* TOC */

.cts_tocIndex {
}

span.cts_tocHyphen {
	margin: 0 0.125em 0 0.125em ;
}


.cts_tocIndex:after {
	content: "Section ";
	margin: 0 0.5em 0 0.5em;
}

.cts_tocHyphen:after {
	content: "-";
}

/* :hover	 is what it will look like when you hover the mouse over an element */
a:hover {
	background-color: rgba(255,255,125,0.5);
}

/* You can define any color with a 3-digit "hex-code" */
/* The three values are from 0-F, and represent Red, Green, Blue */
header, footer {
	color: #666;
}

article, footer {
	border: 1px solid silver;
	padding: 2em;
	max-width: 45em;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

/* Styles attached to element-names apply to _every_ element
	 with that name */
div {
}

/* To specify style for only _some_ elements
	 you can identify them by classes (the classes have to be
	 in the HTML)
*/
div.cts_corpus {
	font-size: 135%;
	line-height: 1.3em;
}


/* You can specify just a class name… */
.cts_workTitle {
	font-style: italic;
}

/* Fonts are tricky… read about them online! */
.cts_citationScheme, .cts_ctsUrn {
	color: navy;
	font-size: 85%;
	font-family: DejaVu-Sans-Mono, monospace;
}

span.cts_ctsUrn {
	display: block;
}

.cts_corpusTitle {
		color: maroon;
		font-size: 85%;
}

li {
	display: block;
	size: 100%;
}

/* You can add space on any side of something with:
		- margin-right
		- margin-left
		- margin-top
		- margin-bottom

*/
.cts_ref {
	margin-right: 2em;
	opacity: 0.5;
}

.cts_node {
	margin-top: 1em;
}

progress.cts_progress {
	width: 100%;
}

